:root {
    --primary-color: #6979f8;
    --primary-color-hover: #a5affb;
    --second-color: #be52f2;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
h1 {
    color: var(--primary-color);
}